section.grid-card.main_homepage
  footer#footer
    .col-lg-4.col-sm-4.col-xs-12
      .footer-menu-list
        h2 ABOUT US
    .col-lg-4.col-sm-4.col-xs-12
      .footer-menu-list
        h2 CONTACT US
    .col-lg-4.col-sm-4.col-xs-12
      .footer-menu-list
        h2 PRIVACY POLICY
