.right-card-section.right-section
  .h-ad.bg-silver.py-2
    +includeElement(data,"left_level_1")
  .bg-silver.mt-2.p-1
    +includeElement(data,"left_level_2")
    +includeElement(data,"left_level_3")
    +includeElement(data,"left_level_4")
    +includeElement(data,"left_level_5")
    