section#h-photo-stories.grid-card
  .container
    .h-photo-story.heading
      h3 Photo Stories
    .main-photo-stories.d-flex
      .photo-story-card
        .photo-story-image
          img.photo-story-img(src='/theme_ddaily/images/300x500_1254374-bill-2.webp' alt='image')
        .photo-story-body
          h5
            | Australia Rocked Ahead of Ashes: Tim Paine Resigns As Test Captain Following Sexting Scandal
      .photo-story-card
        .photo-story-image
          img.photo-story-img(src='/theme_ddaily/images/300x500_1254374-bill-2.webp' alt='image')
        .photo-story-body
          h5
            | Australia Rocked Ahead of Ashes: Tim Paine Resigns As Test Captain Following Sexting Scandal
      .photo-story-card
        .photo-story-image
          img.photo-story-img(src='/theme_ddaily/images/300x500_1254374-bill-2.webp' alt='image')
        .photo-story-body
          h5
            | Australia Rocked Ahead of Ashes: Tim Paine Resigns As Test Captain Following Sexting Scandal
      .photo-story-card
        .photo-story-image
          img.photo-story-img(src='/theme_ddaily/images/300x500_1254374-bill-2.webp' alt='image')
        .photo-story-body
          h5
            | Australia Rocked Ahead of Ashes: Tim Paine Resigns As Test Captain Following Sexting Scandal
      .photo-story-card
        .photo-story-image
          img.photo-story-img(src='/theme_ddaily/images/300x500_1254374-bill-2.webp' alt='image')
        .photo-story-body
          h5
            | Australia Rocked Ahead of Ashes: Tim Paine Resigns As Test Captain Following Sexting Scandal
