include allMixins
extends layout
block content
  section.wrapper
    include partials/_header
    section
      +includeElement(data,"full_level_1")
    section.grid-card
      +includeElement(data,"full_level_2")
    section.grid-card
      .main-homepage-top
        .container
          .row
            .col-md-4
              +includeElement(data,"top_left_1")
              +includeElement(data,"top_left_2")
              +includeElement(data,"top_left_3")
            .col-md-4
              +includeElement(data,"top_middle_1")
              +includeElement(data,"top_middle_2")
              +includeElement(data,"top_middle_3")
            .col-md-4
              +includeElement(data,"top_right_1")
              +includeElement(data,"top_right_2")
              +includeElement(data,"top_right_3")
    section
      +includeElement(data,"full_level_3")
    section
      +includeElement(data,"full_level_4")
    section
      +includeElement(data,"full_level_5")
    section.grid-card.main_homepage
      .container
        .row
          .col-md-4
            +includeElement(data,"level_6_left")
          .col-md-4
            +includeElement(data,"level_6_middle")
          .col-md-4
            +includeElement(data,"level_6_right")
    section.grid-card.main_homepage
      .container
        .row
          .col-md-4
            +includeElement(data,"level_7_left")
          .col-md-4
            +includeElement(data,"level_7_middle")
          .col-md-4
            +includeElement(data,"level_7_right")
    section.grid-card.main_homepage
      .container
        .row
          .col-md-4
            +includeElement(data,"level_8_left")
          .col-md-4
            +includeElement(data,"level_8_middle")
          .col-md-4
            +includeElement(data,"level_8_right")
    section.grid-card.main_homepage
      .container
        .row
          .col-md-4
            +includeElement(data,"level_9_left")
          .col-md-4
            +includeElement(data,"level_9_middle")
          .col-md-4
            +includeElement(data,"level_9_right")
    section
      +includeElement(data,"full_level_10")
    include partials/_footer